.gameCell {
  height: 70px;
  width: 70px;
  background-color: #1990ff;
  cursor: pointer;
}

.whiteCircle,
.redCircle,
.yellowCircle {
  height: 60px;
  width: 60px;
  border-radius: 100px;
}

.whiteCircle {
  background-color: #fff;
}

.redCircle {
  background-color: rgb(251, 42, 42);
  transition: background-color 0.5s;
}

.yellowCircle {
  background-color: rgb(243, 239, 20);
  transition: background-color 0.5s;
}

.player1 {
  background-color: rgb(251, 42, 42);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 2px;
  margin-left: 10px;
  cursor: pointer;
}

.player2 {
  background-color: rgb(243, 239, 20);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 2px;
  margin-left: 10px;
  cursor: pointer;
}

.player1.active,
.player2.active {
  border: 1px solid blue;
}
